extends ./layout.pug

block title
	title Pokemon

block content 

	
	div.uk-grid
		div.uk-width-1-1
			h3 Ride & Catch Them All!
			p Pick your destination and catch more Pokemon in an Uber!
			button.uk-button Search your address then go!

	div#map